.daily-tasks {
  --daily-task-width: 400px;
  --daily-task-height: 400px;
  max-width: var(--daily-task-width);
  /* height: var(--daily-task-height); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 2%;
  right: 1.1%;
  border-radius: .1em;
  padding: 1em;
  /* border: 1px solid #fff; */
  /* background-color: rgba(255, 255, 255, 0.119); */
  background-color: rgba(30, 30, 30, 0.733);
  background-color: #000000df;
  box-shadow: 1px 1px 15px #000;
}

.daily-tasks-container {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  align-items: center;
}

.task-form {
  margin-top: .3em;
  margin-bottom: 1.1em;
}

.task-input {
  background-color: transparent;
  border:none;
  border-bottom: 1px solid rgb(181, 181, 181);
  outline: none;
  color: #fff;
  font-size: 1.17em;
}

.task {
  width: 100%;
  display: flex;
  /* position: relative; */
  gap: 1em;
}

.task-title {
  width: 100%;
  text-align: center;
}

.task-remove {
  opacity: 0;
  background-color: #fff;
  -webkit-mask-image: url('../assets//icons/remove.svg');
  mask-image: url('../assets//icons/remove.svg');
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: absolute;
  right: 0%;
}

.task-remove:hover {
  opacity: 1;
}

.task-title {
  cursor: pointer;
}

.taskChecked {
  text-decoration: line-through;

}

.no-tasks {
  color: rgb(183, 183, 183);
}