.weather {
    position: absolute;
    top: 80px;
    left: 20px;
    /* transform: translate(-50%, 58%); */
    text-align: center;
    display: flex;
    gap: 0.6em;
    font-size: .8em;
    font-weight: 700;
    filter: drop-shadow(1px 1px 3px #282828);
    background-color: rgb(30, 30, 30);
    border-radius: .1em;
    padding: .5em;
}

.weather-icon {
    width: 1.3em;
}