@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --global-animation-duration: .3s;
}

html, body {
  font-family: 'Comfortaa', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.app {
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: #fff;
}

.settings-icon { 
  content: ' ';
  background-color: #fff;
  background-size: contain;
  -webkit-mask-image: url('./assets//icons/settings.svg');
  mask-image: url('./assets//icons/settings.svg');
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 2%;
  right: 1%;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.settings-icon:hover  {
  transform: rotate(45deg);
  opacity: 1;
}